In [1]:
import sys
sys.path.append('../')

import pandas as pd
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy import *
from sqlalchemy.orm import *
from sqlalchemy.orm import sessionmaker
from models import Match
from models import Team
from elo_run.MatchStack import MatchStack
from elo_run.TeamMatchStack import TeamMatchStack
from models import Base, Seed, MatchPredictions
import matplotlib.pyplot as plt

In [2]:
ms = MatchStack(2003)

In [4]:
pd.DataFrame(ms.matches)

,id,mdid,stage,WTeamID,LTeamID,Delta,WLoc,WFGP_avg,WR_avg,WFGP3_avg,LR_avg,LFGP_avg,LFGP3_avg
0,584,2003010,R,1272,1393,7,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,585,2003010,R,1104,1328,6,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,586,2003011,R,1458,1186,26,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,587,2003011,R,1400,1208,6,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,588,2003011,R,1296,1457,6,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,589,2003011,R,1266,1437,12,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,590,2003012,R,1458,1296,28,H,0.456140,36.000000,0.500000,25.000000,0.473684,0.333333
7,591,2003012,R,1194,1156,5,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,592,2003012,R,1186,1457,14,N,0.434783,28.000000,0.272727,37.000000,0.367347,0.272727
9,593,2003012,R,1161,1236,18,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,594,2003013,R,1323,1125,28,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,595,2003013,R,1166,1426,56,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,596,2003013,R,1237,1135,1,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,597,2003013,R,1202,1106,1,N,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,598,2003014,R,1353,1162,24,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,599,2003014,R,1125,1135,0,N,0.281250,40.000000,0.333333,35.000000,0.428571,0.315789
16,600,2003014,R,1156,1236,7,N,0.461538,39.000000,0.333333,30.000000,0.463415,0.266667
17,601,2003014,R,1161,1194,25,H,0.418182,31.000000,0.250000,31.000000,0.482759,0.454545
18,602,2003014,R,1166,1202,25,H,0.594203,44.000000,0.600000,27.000000,0.568627,0.538462
19,603,2003014,R,1183,1129,14,A,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,604,2003014,R,1314,1336,30,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,605,2003014,R,1323,1237,44,H,0.446429,43.000000,0.434783,44.000000,0.393939,0.263158
22,606,2003014,R,1390,1131,4,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,607,2003014,R,1426,1106,12,N,0.326923,23.000000,0.363636,29.000000,0.460317,0.454545
24,608,2003014,R,1462,1389,39,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,609,2003015,R,1161,1156,14,H,0.438258,39.500000,0.333333,36.000000,0.524247,0.444444
26,610,2003015,R,1194,1236,0,N,0.402918,32.500000,0.304196,26.500000,0.461707,0.308333
27,611,2003015,R,1242,1221,24,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,612,2003015,R,1196,1256,21,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,613,2003015,R,1422,1447,19,H,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4650,5257,2003138,T,1112,1211,0,N,0.463774,42.965517,0.349450,37.218750,0.469338,0.371781
4651,5258,2003138,T,1242,1113,32,N,0.489323,40.741935,0.340407,37.000000,0.483138,0.331716
4652,5259,2003138,T,1458,1409,1,N,0.468492,32.900000,0.359482,36.875000,0.465647,0.361994
4653,5260,2003138,T,1181,1141,26,N,0.456086,36.967742,0.363727,33.766667,0.507710,0.379184
4654,5261,2003138,T,1323,1228,8,N,0.450203,38.437500,0.379265,35.225806,0.483145,0.371818
4655,5262,2003138,T,1266,1281,0,N,0.482837,36.965517,0.397172,39.437500,0.446455,0.359830
4656,5264,2003138,T,1328,1143,9,N,0.446715,37.032258,0.396526,35.700000,0.467179,0.375070
4657,5265,2003139,T,1400,1345,10,N,0.450701,42.482759,0.350097,33.827586,0.437900,0.326840
4658,5266,2003139,T,1393,1329,12,N,0.475607,41.133333,0.339950,36.066667,0.447483,0.358747
4659,5267,2003139,T,1338,1231,22,N,0.503918,36.548387,0.371702,36.787879,0.429429,0.345224
4660,5268,2003139,T,1277,1196,22,N,0.454549,35.031250,0.369864,35.218750,0.479142,0.394155
4661,5269,2003139,T,1268,1462,13,N,0.466620,40.310345,0.405108,39.677419,0.451443,0.358483
4662,5270,2003139,T,1120,1448,6,N,0.469041,34.612903,0.356734,41.900000,0.456709,0.338798
4663,5271,2003139,T,1139,1257,8,N,0.474571,28.133333,0.386958,38.483871,0.460349,0.358391
4664,5273,2003139,T,1246,1428,20,N,0.491017,36.969697,0.353672,33.419355,0.453226,0.397177
4665,5283,2003143,T,1242,1181,4,N,0.495218,40.718750,0.347131,36.656250,0.461064,0.373194
4666,5285,2003143,T,1246,1458,6,N,0.490479,36.911765,0.352319,32.870968,0.465830,0.356683
4667,5286,2003143,T,1266,1338,3,N,0.485560,36.833333,0.406155,36.375000,0.504793,0.373975
4668,5287,2003143,T,1112,1323,17,N,0.463630,43.100000,0.347523,38.393939,0.448980,0.384187
4669,5289,2003144,T,1400,1163,4,N,0.449118,42.400000,0.353579,42.625000,0.469669,0.390423
4670,5290,2003144,T,1328,1139,11,N,0.448686,37.000000,0.400961,28.129032,0.476012,0.395003
4671,5291,2003144,T,1393,1120,1,N,0.474979,41.032258,0.342425,34.562500,0.467776,0.352165
4672,5292,2003144,T,1277,1268,2,N,0.457610,34.878788,0.370019,40.266667,0.468308,0.399297
4673,5293,2003145,T,1242,1112,3,N,0.493328,40.909091,0.339137,43.129032,0.463955,0.352442
4674,5294,2003145,T,1266,1246,14,N,0.486623,36.548387,0.409182,36.800000,0.490459,0.347967
4675,5295,2003146,T,1393,1328,16,N,0.473867,40.875000,0.342885,37.060606,0.449966,0.400932
4676,5296,2003146,T,1400,1277,9,N,0.445851,42.709677,0.351134,34.941176,0.455705,0.369517
4677,5301,2003152,T,1393,1400,11,N,0.475290,40.848485,0.337545,42.250000,0.447237,0.353554
4678,5302,2003152,T,1242,1266,33,N,0.491549,40.794118,0.338212,36.531250,0.489030,0.412843
4679,5303,2003154,T,1393,1242,3,N,0.478118,40.735294,0.343454,41.114286,0.492796,0.340579

In [ ]:
engine = create_engine('sqlite:///../databases/turtle.db')
Session = sessionmaker(bind=engine)

session = Session()

In [ ]:
session.query(Team).first()

In [ ]:
s = session.query(MatchPredictions).filter(MatchPredictions.season == 2010)

In [ ]:
matches = session.query(Match).filter(Match.Season == 2011).all()

teams = []

for match in matches:
    teams.extend(match.teams())

teams = list(set(teams))
team_ids = [team.TeamID for team in teams]

In [ ]:
q = session.query(Team).filter(Match.Season == 2010).

In [ ]:
t = session.query(Team).filter(Team.TeamID==1314).first()

In [ ]:
session.query(Match).first().teams

In [ ]:
matches = session.query(Team.TeamID, func.max(Match.mdid)).join(Match.teams).filter(Match.Season ==2017).group_by(Team.TeamID)

In [ ]:
matches = session.query(Team.TeamID).join(Match.teams).filter(Match.Season ==2017).group_by(Team.TeamID)

In [ ]:
[ teamID for teamID, in matches]

In [ ]:
matches.all()

In [ ]:
session.query()

In [ ]:
a = {'hello':1, 'world': 2}

In [ ]:
b = {'hello': None, 'world':3}

In [ ]:
c = True if b['hello'] and a['hello'] else False

In [ ]:
c

In [ ]:
t1a = np.empty(4)

In [ ]:
a = [12,23,35]

In [ ]:
for i, y in enumerate(a):
    print(i)

In [ ]:
np.array(a)

In [ ]:
t = session.query(Team.TeamID).first()

In [ ]:
m = session.query(Match).first()

In [ ]:
len(list(session.query(Match).filter(Match.Season==2017).order_by(Match.mdid)))

In [ ]:
m.winning_stats()

In [ ]:
stacks = {}

In [ ]:
for ts, in t:
    stacks[ts] = TeamMatchStack(ts)

In [ ]:
ts = TeamMatchStack(t.TeamID)

In [ ]:
m.WFGP3_avg = 1

In [ ]:
session.commit()

In [ ]:
session.close()

In [ ]:
dir(m)

In [24]:
a = pd.DataFrame(data = [1,2], columns = ['pogba'])

In [25]:
a['b'] = a.pogba.map({2:3})

In [26]:
a.loc[a.b.isnull(),'b'] = None

In [27]:
for c in a.iterrows():
    print(c)

(0, pogba    1.0
b        NaN
Name: 0, dtype: float64)
(1, pogba    2.0
b        3.0
Name: 1, dtype: float64)

In [ ]:
matches = session.query(Match.mdid, Match.Season, Match.WScore, Match.LScore, 
              Match.stage, Match.WLoc, Match.NumOT).filter(Match.Season >= 2003).all()

df = pd.DataFrame(matches)

df['delta'] = df.WScore - df.LScore

df.loc[df['NumOT'] > 0, 'delta'] = 0

In [ ]:
def calculate_distribution(results):
    delta_counts = results.groupby(by='delta').mdid.count()
    total = delta_counts.sum()
    densityf = delta_counts/total
    cumdf = densityf.cumsum()
    return cumdf

In [ ]:
neutrals = (df.loc[df['WLoc'] == 'N',['delta','mdid']]).append(-df.loc[df['WLoc'] == 'N',['delta','mdid']])

homes = (df.loc[df['WLoc'] == 'H',['delta','mdid']]).append(-df.loc[df['WLoc'] == 'A',['delta','mdid']])

aways = -homes

In [ ]:
plt.plot(calculate_distribution(neutrals), label = 'neutral')
plt.plot(calculate_distribution(homes), label = 'home')
plt.plot(calculate_distribution(aways), label = 'away')
plt.grid(b='on')
plt.legend()

In [ ]:
plt.plot(calculate_distribution(neutrals), label = 'neutral')
plt.plot(calculate_distribution(homes), label = 'home')
plt.plot(calculate_distribution(aways), label = 'away')
plt.grid(b='on')
plt.legend()

In [ ]:
dist = calculate_distribution(homes)

In [ ]:
def response_function(result, distribution):
    if result < distribution.index[0]:
        raise Exception
    if result in distribution:
        return distribution[result]
    else:
        return response_function(result-1, distribution)

In [ ]:
fields = []

In [ ]:
metrics = session.query(Match).options(load_only(*fields))filter(Match.Season >= 2003).all()

In [ ]:
m = session.query(Match).filter(Match.Season > 2010).first()

In [ ]:
dir(m)

In [ ]:
m.__getattribute__('id')

In [ ]:
dir(m)